<!doctype html>
<html lang="es" xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="includes/layout :: head"></head>
<body>
    <header th:replace="includes/layout :: header"></header>

    <p th:text="${#authentication.name}"></p><!-- email -->
    <p>Roles: <span sec:authentication="principal.authorities"></span></p>

    <div class="container my-5">
        <h1 class="text-center">users page</h1>

        <div class="mt-5 mb-3">
            <a th:href="@{/users/new-user}" class="btn btn-outline-primary">Add new user</a>
        </div>
        <table class="table table-bordered mb-4 text-center">
            <thead class="thead-dark">
                <tr>
                    <th>RFC</th>
                    <th>Name user</th>
                    <th>Email</th>
                    <th>Active</th>
                    <th>View</th>
                    <th>Update</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                <tr th:if="${#lists.isEmpty(users)}" class="table-primary">
                    <td colspan="7">have not added any users</td>
                </tr>
                <tr th:if="${!#lists.isEmpty(users)}" th:each="user : ${users}">
                    <td th:text="${user.rfc}"></td>
                    <td th:text="${user.firstName} + ${user.lastName}"></td>
                    <td th:text="${user.email}"></td>
                    <td th:text="${user.enabled}"></td>
                    <td>
                        <a th:href="@{'/view/'+${user.rfc}}">manager</a>
                    </td>
                    <td>
                        <a th:href="@{'/update-user/'+${user.rfc}}">update</a>
                    </td>
                    <td>
                        <a th:href="@{'/delete-user/'+${user.rfc}}">delete</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <!-- Footer -->
    <footer th:replace="includes/layout :: footer"></footer>
    <!-- Scripts -->
    <script th:replace="includes/layout :: jquery"></script>
    <script th:replace="includes/layout :: popper"></script>
    <script th:replace="includes/layout :: js-bootstrap"></script>
</body>
</html>