html, body{
    height: 100%;
}

.background-login{
    background: #336B87;
}
.color-title-login{
    color: #763626;
}

.btn-login{
    background: #763626;
    color: #E5E8E8;
}
.btn-login:hover{
    color:white;
}
.bg-mist{
    background: #90AFC5;
}
.bg-stone{
    background: #336B87;
}
.bg-shadow{
    background: #2A3132;
}
.bg-autumn{
    background: #763626;
}
.thead-stone{
    color:#fff;
    background-color:#336B87;
    border-color:#454d55;
}
.mcb{
    margin-bottom: 130px;
}