<!doctype html>
<html lang="es" xmlns:th="https://www.thymeleaf.org">
<head th:replace="includes/layout :: head"></head>
<body>
    <!-- Navbar -->
    <header th:replace="includes/layout :: header"></header>

    <div class="container">
        <h1 class="text-center">Hello</h1>
    </div>

    <!-- Footer -->
    <footer th:replace="includes/layout :: footer"></footer>
    <!-- Scripts -->
    <script th:replace="includes/layout :: jquery"></script>
    <script th:replace="includes/layout :: popper"></script>
    <script th:replace="includes/layout :: js-bootstrap"></script>
</body>
</html>