<!doctype html>
<html lang="es" xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="includes/layout :: head"></head>
<body>
    <!-- Navbar -->
    <header th:replace="includes/layout :: header"></header>

    <div class="container my-5">
        <h1 class="text-center">Hello</h1>
    </div>

    <p th:text="${#authentication.name}"></p><!-- email -->
    <p>Roles: <span sec:authentication="principal.authorities"></span></p>

    <!-- Footer -->
    <footer th:replace="includes/layout :: footer"></footer>
    <!-- Scripts -->
    <script th:replace="includes/layout :: jquery"></script>
    <script th:replace="includes/layout :: popper"></script>
    <script th:replace="includes/layout :: js-bootstrap"></script>
</body>
</html>